<section id="contactPage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements" style="overflow-y: auto;">
            <h1 class="text-center cookie-h1">Cookie Policy</h1>
            <p>
                This policy describes how CassCam uses cookies on <a href="http://CassCam.com"></a> (the “Site”).
                This policy is effective September 5, 2017. Your continued use of the Site after that will signify your acceptance of this policy.
                We may modify this Agreement without notifying you, so please check back often for updates.
            </p>
            <p>
                By using the Site, you agree that we can use the cookies described in this Cookie Policy.
                You can stop cookies by changing the settings in your browser (more information on how to do this is provided below).
            </p>
            <h3>What are cookies?</h3>
            <p>
                Cookies are text files, containing small amounts of information, which are downloaded to your browsing device
                (such as a computer or smartphone) when you visit a website. Cookies can be recognized by the website that
                downloaded them — or other websites that use the same cookies.
                This helps websites know if the browsing device has visited them before.
            </p>
            <h3>What are cookies used for?</h3>
            <p>
                Cookies do lots of different jobs, like helping us understand how the Site is being used,
                letting you navigate between pages efficiently, remembering your preferences,
                and generally improving your browsing experience.
                Cookies can also help ensure marketing you see online is more relevant to you and your interests.
            </p>
            <h3>What types of cookies does CassCam use?</h3>
            <p>
                The type of cookies used on most websites can generally be put into one of six categories:
                Strictly Necessary, Performance, Functionality, Flash, Tailored Content and Targeting.
                In order to provide you with the best browsing experience, CassCam uses all of these categories on the Site.
            </p>
            <h3>How long will cookies stay on my browsing device?</h3>
            <p>
                The length of time a cookie will stay on your browsing device depends on whether it is a “persistent” or “session” cookie.
                Session cookies will only stay on your device until you stop browsing.
                Persistent cookies stay on your browsing device until they expire or are deleted.
            </p>
            <h3>First and third party cookies</h3>
            <p>
                First party cookies are cookies that belong to us, while third party cookies are cookies that another party places on your browsing device through our Site.
                For example, Facebook will place a cookie on your browsing device if you click on the Facebook link when browsing the Site.
            </p>
            <h3>How to control and delete cookies through your browser</h3>
            <p>
                The browser you are using to view the Site can enable, disable or delete cookies.
                To do this, follow the instructions provided by your browser (usually located within the “Help,” “Tools” or “Edit” facility).
                Please note that if you set your browser to disable cookies,
                you may not be able to access certain parts of the Site for example applying for a job or posting a job.
                Other parts of the Site may also not work properly.
                You can find out more information about how to change your browser cookie settings at
                <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.
            </p>
            <a id="backBtn"
               class="back-btn fa fa-angle-double-left"
               onclick="goBack()"
               style="margin-right: 35px;"
               title="Back">
            </a>
        </div>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
        var staticHolder = $('#staticPageHolder'),
            staticImage = $('#staticPageImage'),
            staticElements = $('#staticPageElements'),
            pageW = $(window),
            footerCut = $('footer'),
            pageBottomMargin = footerCut[0].children[0].clientHeight;

        function setElements() {
            if(pageW.width() < 1020) {
                ParallaxEffectMobile(staticImage, pageW);
            } else {
                var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
                imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
                staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
            }
        }

        setElements();

        $(document).on('scroll', setElements);
        $(window).resize(setElements);
</script>