<section id="productDetailPage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements">
            <h2 ng-bind="product.name"></h2>
            <a id="backBtn"
               class="back-btn fa fa-angle-double-left"
               onclick="goBack()"
               title="Back">
            </a>
            <div class="productDetailContainer">
                <div class="col1">
                    <span class="greenText fa fa-angle-double-right"></span>
                    <h4 ng-bind="product.category.name"></h4>
                    <h6 ng-bind="product.description"></h6>
                </div>
                <div class="col2">
                    <h6 class="stock">Currently available:</h6>
                    <span ng-bind="product.stock"></span>
                    <span> pieces</span><br>
                    <h4 class="price greenText">
                        <span ng-bind="product.price"></span>
                        <span>$</span>
                    </h4>
                </div>
            </div>
            <div class="productImg">
                <div lightgallery ng-repeat="image in product.images" data-src="{{ image.image }}">
                    <img ng-src="{{ image.image }}">
                </div>
            </div>
            <button id="addToCartBtn"
                    class="defaultBtn absoluteBtn"
                    name="read more"
                    type="submit"
                    ng-click="addToCart()"
                    title="Add to Cart!">
                <span class="normal">
                    Add to Cart
                </span>
                <span class="hover">
                    Add to Cart
                </span>
            </button>
        </div>
    </div>
    <div id="showAuthMSG" class="displayCanvas">
        <div class="inputContainer">
            <a href="javascript:void(0)"
               class="closeLogin"
               title="Close"
               ng-click="closeCanvas()">&times;</a>
            <h4 class="spanInfo">
                Only registered users are allowed to shop. <br>
                <br>
                Please login and try again.
            </h4>
        </div>
    </div>
    <div id="addedToCart" class="displayCanvas">
        <div class="inputContainer">
            <a href="javascript:void(0)"
               class="closeLogin"
               title="Close"
               ng-click="closeAdded()">&times;</a>
            <h4 class="spanInfo" style="top: 4.4rem;">
                {{ product.name }} has been added to your cart!<br>
            </h4>
        </div>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
    var staticHolder = $('#staticPageHolder'),
        staticImage = $('#staticPageImage'),
        staticElements = $('#staticPageElements'),
        pageW = $(window),
        footerCut = $('footer'),
        pageBottomMargin = footerCut[0].children[0].clientHeight;

    function setElements() {
        if(pageW.width() < 1020) {
            ParallaxEffectMobile(staticImage, pageW);
        } else {
            var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
            imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
            staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
        }
    }

    setElements();

    $(document).on('scroll', setElements);
    $(window).resize(setElements);
</script>

<script type="text/javascript" charset="UTF-8">
    $('body').on('click', function (event) {
        var addedMSG = $('#addedToCart'),
            authMSG = $('#showAuthMSG'),
            btn = $('#addToCartBtn');
        if(!$(event.target).is('#addToCartBtn')) {
            addedMSG.css({
                'opacity': '0',
                'visibility': 'hidden'
            });
            authMSG.css({
                'opacity': '0',
                'visibility': 'hidden'
            });
        }
    });
</script>