<section id="aboutPage">
    <div id="karousel" class="slick-slider">
        <div class="item first">
            <div class="contain">
                <div class="sliderText">
                    <div ng-bind="about_page_content.slide_1_title"></div>
                    <div ng-bind="about_page_content.slide_1_desc"></div>
                </div>
            </div>
        </div>

        <div class="item second">
            <div class="contain">
                <div class="sliderText">
                    <div ng-bind="about_page_content.slide_2_title"></div>
                    <div ng-bind="about_page_content.slide_2_desc"></div>
                </div>
            </div>
        </div>

        <div class="item third">
            <div class="contain">
                <div class="sliderText">
                    <div ng-bind="about_page_content.slide_3_title"></div>
                    <div ng-bind="about_page_content.slide_3_desc"></div>
                </div>
            </div>
        </div>

        <div class="item fourth">
            <div class="contain">
                <div class="sliderText">
                    <div ng-bind="about_page_content.slide_4_title"></div>
                    <div ng-bind="about_page_content.slide_4_desc"></div>
                </div>
            </div>
        </div>

        <div class="item fifth">
            <div class="contain">
                <div class="sliderText">
                    <div ng-bind="about_page_content.slide_5_title"></div>
                    <div ng-bind="about_page_content.slide_5_desc"></div>
                </div>
            </div>
        </div>

        <div class="item six">
            <div class="contain">
                <div class="sliderText">
                    <div ng-bind="about_page_content.slide_6_title"></div>
                    <div ng-bind="about_page_content.slide_6_desc"></div>
                </div>
            </div>
        </div>

    </div>
    <div id="preGoogleMaps">
        <div class="whereToFind">
            Where can you find us?
        </div>
    </div>
    <div id="google" class="googleMaps">
        <iframe class="googleMaps" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJdd4hrwug2EcRmSrV3Vo6llI&key=AIzaSyCaQISZi9A7MKt9wVJHkc9sa-ivXhPdsZU"
                allowfullscreen></iframe>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
    $('.slick-slider').slick({
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 500,
        dots: true,
        fade: true,
        cssEase: "linear",
        arrows: false,
        pauseOnHover: false
    });
</script>
<script type="text/javascript" charset="UTF-8">
    var slider = $('#karousel'),
        imageHeight = $('.item'),
        textSlider = $('.sliderText'),
        windowH = $(window),
        foot = $('footer'),
        pageBottomM = foot[0].children[0].clientHeight,
        google = $('#google'),
        pregoogle = $('.whereToFind');

    function setElements() {
        setAboutUsPageElementsHeight(slider, imageHeight, textSlider, windowH);
    }

    function aboutPageEffects() {
        ParallaxEffect(slider, pregoogle, windowH);
    }
    setElements();

    $(document).on('scroll', aboutPageEffects);
    $(window).on('load resize', setElements);

    $('.googleMaps').click(function () {
        $('.googleMaps iframe').css("pointer-events", "auto");
    }).mouseenter(function () {
        $('.googleMaps iframe').css("pointer-events", "none");
    }).mouseleave(function() {
        $('.googleMaps iframe').css("pointer-events", "none");
    });
    google.css({
        'margin-bottom': 0 - pageBottomM
    });
</script>
