@media (max-width: 979px) and (min-width: 768px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 724px;
    }
}


/* MAX-WIDTH */
@media all and (max-width: 1440px) {
    #parallaxHolder .spotLight {
        right: 23.5%
    }
}

@media all and (max-width: 1390px) {
    #parallaxHolder .spotLight {
        right: 25.7%;
    }
}

@media all and (max-width: 1020px) {
	.staticContainerHolder {
        position: relative;
	    width: auto!important;
        height: auto!important;
        top: 0!important;
        left: 0!important;
    }
    .holderElements {
        width: auto!important;
        height: auto!important;
        margin: 0 0 0;
        padding: 20px;
    }
    #staticPageImage {
        position: relative;
    }
    #parallaxHolder .spotLight {
        right: 22%;
    }
}

@media screen and (max-width: 800px) {
    #resultsListPage {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        grid-template-columns: 0 100% 0;
    }
    .wrapper .inner-wrapper {
        grid-template-columns: 0 0 100%;
    }
    .cut .inner-wrapper {
        grid-template-columns: 100% 0 0;
    }
    .navbar-nav {
        margin: 0;
    }
    footer .cut {
        display: none;
    }
    footer .full .inner-wrapper {
        padding-left: 10px;
    }
    footer .full .inner-wrapper .splitColumns {
        height: 135px;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    footer .info h5 {
        margin-top: 10px;
    }
    footer .policies > span {
        display: block;
    }
    .whereToFind {
        font-size: 2em;
        height: 105px;
    }
    #resultsListPage .switchColor:hover {
        padding: 0;
    }
    #parallaxHolder .spotLight {
        right: 18%;
    }
}

@media all and (max-width: 600px) {
	.slick-slider .item .contain .sliderText {
		font-size: 0.85em;
    }
    #productListPage {
        grid-template: repeat(4, 1fr) / 1fr;
    }
    #resultsListPage {
        grid-template: repeat(6, 1fr) / 1fr;
    }
    #cartListPage .listItem {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    #cartListPage .listItem .imgHolder img {
        height: 100%;
        justify-self: center;
    }
    .arrowBtns {
        margin-top: 125px;
    }
    .staticContainerHolder {
        height: 860px;
    }
}

@media all and (max-width: 430px) {
	.slick-slider .item .contain .sliderText {
		font-size: 0.75em;
	}
    .whereToFind {
        font-size: 1.5em;
        height: 75px;
    }
    #parallaxHolder .spotLight {
        right: 5%;
    }
}

@media all and (max-width: 380px) {
    .whereToFind {
        font-size: 1.2em;
        height: 60px;
    }
    #mobileLogo {
        left: 25px;
    }
    #mobileMenuBtn {
        right: 40px;
    }
}

@media all and (max-width: 360px) {
	.slick-slider .item .contain .sliderText {
		font-size: 0.68em;
    }
    #cartListPage .listItem .productInfo h6 {
        font-size: 0.7rem;
    }
    #cartListPage .listItem .productInfo span {
        font-size: 0.5rem;
    }
    #cartListPage .listItem .productInfo .defaultBtn span {
        font-size: 0.5rem;
    }
}

@media all and (max-width: 320px) {
    #mobileMenuBtn {
        right: 30px;
    }
    #mobileLogo {
        left: 15px;
    }
    #staticPageImage {
        margin-top: 20px;
    }
}

/* MIN-WIDTH */
@media screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 750px 1fr;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 87.5%;
    }
    .wrapper {
        grid-template-columns: 1fr 970px 1fr;
    }
    .wrapper.cut {
        height: 40px;
    }
    nav .half::before {
        border-width: 40px 81px 0 0;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 1170px 1fr;
    }
    nav .half::before {
        border-width: 40px 98px 0 0;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 100%;
    }
    .wrapper {
        grid-template-columns: 1fr 1370px 1fr;
    }
    nav .half::before {
        border-width: 40px 114px 0 0;
    }
}

@media all and (min-width: 1440px) {
    #staticPageImage {
        width: 100%;
    }
}

@media screen and (min-width: 1550px) {
    .wrapper {
        grid-template-columns: 1fr 1520px 1fr;
    }
    .wrapper.cut {
        height: 50px;
    }
    nav .half::before {
        border-width: 50px 127px 0 0;
    }
}

@media screen and (min-width: 1900px) {
    .wrapper {
        grid-template-columns: 1fr 1870px 1fr;
    }
    nav .half::before {
        border-width: 50px 156px 0 0;
    }
}

@media screen and (min-width: 2530px) {
    .wrapper {
        grid-template-columns: 1fr 2510px 1fr;
    }
    nav .half::before {
        border-width: 50px 209px 0 0;
    }
}

@media screen and (min-width: 3800px) {
    .wrapper {
        grid-template-columns: 1fr 3790px 1fr;
    }
    .wrapper.cut {
        height: 60px;
    }
    nav .half::before {
        border-width: 60px 316px 0 0;
    }
}