<section class="navigationBar" ng-controller="NavigationCtrl">
    <nav>
        <div id="mobileVersion" class="container">
            <div class="row">
                <div id="mobileLogo" class="col-xs-6 img">

                </div>
                <div class="cols-xs-9">
                    <a id="mobileMenuBtn" class="dropdown-toggle" data-toggle="dropdown">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="mobileLinks" class="dropdown">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="pcVersion" class="wrapper full">
            <div></div>
            <div class="inner-wrapper">
                <div></div>
                <div></div>
                <div class="shadow user">
                    <a id="userBtn"
                       ng-click="showLoginCanvas()"
                       title="User" class="fa fa-user userIcon"></a>
                    <ul class="nav navbar-nav">
                        <li>
                            <a data-ui-sref="website.shopping_cart"
                               title="Cart">
                                Cart
                            </a>
                        </li>
                        <li>
                            <a data-ui-sref="website.products.list({page:1})"
                               title="PreOrder"
                               data-ng-class="{active: state.includes('website.products.list')}">
                                Preorder
                            </a>
                        </li>
                        <li>
                            <a data-ui-sref="website.results.list({page:1})"
                               data-ng-class="{active: state.includes('website.results.list')}"
                               title="Results">
                                Results
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            <a title="Timeline"
                               data-ui-sref="website.timeline.list({page:1})">
                                Timeline
                            </a>
                        </li>
                        <li>
                            <a data-ui-sref="website.about_us"
                               title="About Us">
                                About us
                            </a>
                        </li>
                        <li>
                            <a data-ui-sref="website.contact_us"
                               title="Contact Us">
                                Contact us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shadow"></div>
        </div>
        <div id="pcVersionCut" class="wrapper cut">
            <div class="full shadow"></div>
            <div class="inner-wrapper">
                <div class="full shadow img">
                    <a data-ui-sref="website.home"
                       data-ui-sref-active="active"
                       title="Home">
                        <img src="/static/images/logo/logo-sprite.png" alt="logo">
                    </a>
                </div>
                <div class="half"></div>
                <div class="transparent"></div>
            </div>
            <div class="transparent"></div>
        </div>
    </nav>

    <div id="loginCanvas">

        <!-- USER CANVAS CLOSE BTN -->
        <div id="row1">
            <!-- USER CANVAS TAB NAME TEXT -->
            <span ng-bind="currentTab"></span>
            <!-- USER CANVAS CLOSE BTN -->
            <span id="closeCanvasbtn" ng-click="showLoginCanvas()">
                <span class="label-close">Close</span>
                <i class="fa fa-close" aria-hidden="true"></i>
            </span>
        </div>

        <!-- TRIGGER IF USER IS NOT REGISTERED -->
        <!-- CONTAINS SIGN IN/REGISTRATION/FORGOT PASSWORD FORMS -->
        <div class="loginHolder" ng-if="!user_logged_in">
            <div id="row2">
                <div>
                    <a class="fa fa-angle-double-left"
                    ng-if="!page_1" ng-click="ClickedLeft()" title="{{ leftArrowText }}"></a>
                </div>
                <div>
                    <img class="img-circle loggedInImg" ngf-thumbnail="preview || '/static/images/default/avatar.png'">
                </div>
                <div>
                    <a class="fa fa-angle-double-right"
                    ng-if="!page_3" ng-click="ClickedRight()" title="{{ rightArrowText }}"></a>
                </div>
            </div>

            <div id="row3">
                <!-- page_1 is signing in form -->
                <div ng-if="page_1">
                    <form id="userSigningIn">
                        <div class="inputHolder">
                            <span>My </span>
                            <label for="login_username">username</label>
                            <span> is</span>
                            <input type="text"
                                id="login_username"
                                name="username"
                                title="Username"
                                minlength="3"
                                placeholder="(your username)"
                                data-ng-model="log.username" required/>
                            <span> ,</span>
                        </div>
                        <div class="inputHolder">
                            <span>and </span>
                            <label for="login_password">password</label>
                            <input type="password"
                                id="login_password"
                                name="password"
                                title="Password"
                                placeholder="(your password)"
                                data-ng-model="log.password" required/>
                            <span>.</span>
                        </div>
                        <div>
                            <span class="formError" ng-if="bad_credentials">
                                <p ng-bind="errors.message"></p>
                            </span>
                            <p class="forgotPasswordLink">
                                <a ng-click="goToRecover()">Forgot Password?</a>
                            </p>
                        </div>
                        <div class="btnHolder">
                            <button class="defaultBtn"
                                type="submit"
                                title="Log In Now!"
                                ng-click="loginUser()">
                                <span class="normal">
                                    Log In
                                </span>
                                <span class="hover">
                                    Log In
                                </span>
                            </button>
                            <button class="defaultBtn"
                                type="submit"
                                title="Sign Up Now!"
                                ng-click="goToRegister()">
                                <span class="normal">
                                    Sign Up
                                </span>
                                <span class="hover">
                                    Sign Up
                                </span>
                            </button>
                        </div>
                        <script type="text/javascript" charset="UTF-8">
                            $('#login_username, #login_password')
                                // event handler
                                .keyup(resizeInput)
                                // resize on page load resizeInputProfile
                                .each(resizeInput);
                        </script>
                    </form>
                </div>

                <!-- page_2 is registration form -->
                <div ng-if="page_2">
                    <form id="userRegistration">
                        <div class="inputHolder">
                            <label for="email">Email</label>
                            <input type="email"
                                id="email"
                                name="email"
                                title="Email"
                                placeholder="(your email)"
                                data-ng-model="registration.email" required/>
                            <span class="formError" ng-repeat="error in errors.email">
                                <p>User with this email exists.</p>
                            </span>
                        </div>
                        <div class="inputHolder">
                            <label for="username">Username</label>
                            <input type="text"
                                id="username"
                                name="username"
                                title="Username"
                                minlength="3"
                                placeholder="(your username)"
                                data-ng-model="registration.username" required/>
                            <span class="formError" ng-repeat="error in errors.username">
                                <p>User with this username exists.</p>
                            </span>
                        </div>
                        <div class="inputHolder">
                            <label for="password">Password</label>
                            <input type="password"
                                id="password"
                                name="password"
                                title="Password"
                                placeholder="(your password)"
                                data-ng-model="registration.password" required/>
                            <span class="formError" ng-repeat="error in errors.password">
                                <p ng-bind="error"></p>
                            </span>
                        </div>
                        <div class="inputHolder">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password"
                                id="confirm_password"
                                name="confirm_password"
                                title="Confirm Password"
                                placeholder="(confirm password)"
                                ng-change="switch_value()"
                                ng-model="check_password" 
                                required/>
                            <span class="formError" ng-if="!password_match">
                                <p>Passwords doesnt match.</p>
                            </span>
                        </div>
                        <div class="btnHolder">
                            <button class="defaultBtn"
                                type="submit"
                                title="Register Now!"
                                ng-click="RegisterAccount()">
                                <span class="normal">
                                    Sign Up
                                </span>
                                <span class="hover">
                                    Sign Up
                                </span>
                            </button>
                            <button class="defaultBtn"
                                type="submit"
                                title="Upload Avatar!"
                                ngf-select="upload($file)">
                                <span class="normal">
                                    Browse
                                </span>
                                <span class="hover">
                                    Browse
                                </span>
                            </button>
                        </div>
                        <script type="text/javascript" charset="UTF-8">
                            $('#email, #username, #password, #confirm_password')
                                // event handler
                                .keyup(resizeInput)
                                // resize on page load resizeInputProfile
                                .each(resizeInput);
                        </script>
                    </form> 
                </div>

                <!-- page_3 is recovering lost password form -->
                <div ng-if="page_3">
                    <form id="recoveringLostPassword">
                        <div class="inputHolder">
                            <label for="recover_email">Email</label>
                            <input type="email"
                                id="recover_email"
                                name="email"
                                title="Email"
                                placeholder="(your email)"
                                data-ng-model="passwordReset.email" required/>
                            <span class="formError" ng-repeat="error in errors.email">
                                <p ng-bind="error"></p>
                            </span>
                        </div>
                        <div class="btnHolder">
                            <button class="defaultBtn"
                                type="submit"
                                title="Reset Password!"
                                ng-click="resetPW()">
                                <span class="normal">
                                    Reset
                                </span>
                                <span class="hover">
                                    Reset
                                </span>
                            </button>
                        </div>
                        <script type="text/javascript" charset="UTF-8">
                            $('#recover_email')
                                // event handler
                                .keyup(resizeInput)
                                // resize on page load resizeInputProfile
                                .each(resizeInput);
                        </script>
                    </form>
                </div>
            </div>
        </div>

        <!-- TRIGGERED IF USER IS LOGGED IN -->
        <!-- CONTAINS USER INFORMATION AND SIGN OUT METHOD -->
        <div class="loginHolder" ng-if="user_logged_in">
            <div id="row2">
                <div></div>
                <div>
                    <img class="img-circle loggedInImg" ngf-thumbnail="preview || user_data.image || '/static/images/default/avatar.png'">
                </div>
                <div></div>
            </div>
            <div id="row3">
                <div class="welcomeMsg">
                    <span class="text-muted">Hi </span>
                    <label class="text-danger" ng-bind="user_data.username"></label>
                    <span class="text-muted">!</span><br>
                    <span class="text-info">Welcome to your profile</span>
                </div>
                <form id="userEmail">
                    <div class="inputHolder">
                        <span>Your </span>
                        <label for="currentUserName">first name </label>
                        <span>is </span>
                        <input type="text" 
                            id="currentUserName"
                            name="firstname"
                            title="Your first name."
                            placeholder="(your first name)"
                            ng-model="user_data.first_name"
                            required/>
                        <span> ,</span>
                    </div>
                    <div class="inputHolder">
                        <span>and </span>
                        <label for="currentUserLastName">last name </label>
                        <input type="text"
                            id="currentUserLastName"
                            name="lastname"
                            title="Your last name."
                            placeholder="(your last name)"
                            ng-model="user_data.last_name"
                            required/>
                        <span> .</span>
                    </div>
                    <div class="inputHolder">
                        <span>Your </span>
                        <label for="currentUserEmail">email </label>
                        <span>is </span>
                        <input type="email"
                            id="currentUserEmail"
                            name="email"
                            title="Your email address."
                            placeholder="(your email)"
                            ng-model="user_data.email"
                            required/>
                        <span> ,</span>
                    </div>
                    <div class="inputHolder">
                        <span>and </span>
                        <label for="currentUserLocation">your address </label>
                        <span>is </span>
                        <input type="text"
                            id="currentUserLocation"
                            name="location"
                            title="Your location."
                            placeholder="(your address)"
                            ng-model="user_data.address"
                            required/>
                        <span> .</span>
                    </div>
                    <div class="btnHolder">
                        <button class="defaultBtn"
                                type="submit"
                                ng-click="updateProfile()"
                                title="Update Info!">
                            <span class="normal">
                                Update
                            </span>
                            <span class="hover">
                                Update
                            </span>
                        </button>
                        <button class="defaultBtn"
                                type="submit"
                                ngf-select="upload($file)"
                                title="Update Avatar!">
                            <span class="normal">
                                Browse
                            </span>
                            <span class="hover">
                                Browse
                            </span>
                        </button>
                    </div>
                    <div class="btnHolder">
                        <button class="defaultBtn"
                                type="submit"
                                ng-click="deleteProfile()"
                                title="Delete Profile!">
                            <span class="normal">
                                Delete
                            </span>
                            <span class="hover">
                                Delete
                            </span>
                        </button>
                        <button class="defaultBtn"
                                type="submit"
                                ng-click="SignOut()"
                                title="Sign Out!">
                            <span class="normal">
                                Sign out
                            </span>
                            <span class="hover">
                                Sign out
                            </span>
                        </button>
                    </div>
                    <script type="text/javascript" charset="UTF-8">
                        $('#currentUserName, #currentUserName, #currentUserLastName, #currentUserLocation')
                            // event handler
                            .keyup(resizeInput)
                            // resize on page load resizeInputProfile
                            .each(resizeInput);
                    </script>
                </form>
            </div>
        </div>
    </div>

    <!-- THIS IS USED TO DISPLAY MESSAGES AFTER SUCCESSFUL REGISTRATION/RECOVERED PASSWORD -->
    <div id="msgCanvas">

        <!-- MSG CANVAS CLOSE BTN -->
        <div id="row1">
            <span id="closeCanvasbtn" ng-click="closeMsgCanvas()">
                <span class="label-close">Close</span>
                <i class="fa fa-close" aria-hidden="true"></i>
            </span>
        </div>

        <!-- DISPLAY THIS MESSAGE IF USER HAS COMPLETED REGISTRATION -->
        <div class="msgWrapper" ng-if="registeration_complete">
            <h2>Congratz! <br>
                <span class="text-muted">Your account has been created.</span>
            </h2>
            <br>
            <p>
                To start using your account, you must activate it first. <br>
                We've sent you email, which contains activation link.
            </p>
            <p>
                Please open your email and click on provided link.
            </p>
        </div>

        <!-- DISPLAY THIS MESSAGE IF USER HAS RECOVERING PASSWORD -->
        <div class="msgWrapper" ng-if="reset_sent">
            <h2>Success! <br>
                <span class="text-muted">Email has been sent.</span>
            </h2>
            <br>
            <p>
                To complete password recovery, go to your email address
                and click on provided link.
            </p>
        </div>

        <!-- DISPLAY THIS MESSAGE IF USER HAS UPDATED HIS PROFILE -->
        <div class="msgWrapper" ng-if="profileUpdated">
            <h2>Success!</h2>
            <br>
            <p>
                Your profile has been updated.
            </p>
        </div>

        <!-- DISPLAY THIS MESSAGE IF USER HAS UPDATED HIS PROFILE -->
        <div class="msgWrapper" ng-if="profileDeleted">
            <h2>Success! <br>
                <span class="text-muted">Profile deleted.</span>
            </h2>
            <br>
            <p>
                You have been deleted from our user database.
            </p>
        </div>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
    var logoPasteTo = $('#mobileLogo'),
        logoCopyFrom = $('#pcVersionCut .inner-wrapper .img a'),
        logo = $(".img img"),
        linksCopyFrom = $('#pcVersion .inner-wrapper .shadow'),
        linksPasteTo = $('#mobileLinks'),
        mobileBtn = $('#mobileMenuBtn'),
        cutFirstPart = $('#pcVersion'),
        cutSecondPart = $('#pcVersionCut'),
        mobileNav = $('#mobileVersion'),
        dropdownPos = $('#mobileVersion div div.cols-xs-9 ul.dropdown-menu'),
        transparentNav = $('nav'),
        userIcon = $("#pcVersion .inner-wrapper .user .userIcon"),
        pageBody = $('body'),
        pageWindow = $(window);

    /*==========================================================
                    mobile navigation maker
    ==========================================================*/
    /* this cloned original navigation menu to mobile version */
    logoCopyFrom.clone().prependTo(logoPasteTo);
    linksCopyFrom.clone().prependTo(linksPasteTo);

    /* this part wraps anchor tag inside ul li */
    $('#mobileLinks div #userBtn').removeAttr('class')
        .wrap('<li id="userCanBtn" />').contents().unwrap();
    $('#userCanBtn').wrap('<ul class="nav navbar-nav" />').contents().wrap();
    $('#userCanBtn #userBtn').text('User').hover(function (){
        $(this).css({'cursor': 'pointer'});
    });
    $('#mobileLinks div').removeClass('shadow');
    /*==========================================================
                  end of mobile navigation maker
    ==========================================================*/

    navigationEvents(pageWindow, cutFirstPart, cutSecondPart, mobileNav, dropdownPos, transparentNav, logo, userIcon);
    makeTransparentNavigation(transparentNav, logo, userIcon);

    function callNavigationEvents() {
        navigationEvents(pageWindow, cutFirstPart, cutSecondPart, mobileNav, dropdownPos, transparentNav, logo, userIcon);
        setTimeout(function () {
            var mobileLogoLink = $('#mobileLogo a'),
                mobileLogoImg = $('#mobileLogo a img'),
                logoBlack = '<img id="blackLogo" src="/static/images/logo/logo-black_200.png" alt="logo">',
                logoWhite = '<img id="whiteLogo" src="/static/images/logo/logo-white_200.png" alt="logo">';

            mobileLogoImg.remove();

            if($(window).width() < 767) {
                if($(window).scrollTop() < 50){
                    $('#blackLogo').remove();
                    mobileLogoLink.append(logoWhite);
                } else {
                    $('#whiteLogo').remove();
                    mobileLogoLink.append(logoBlack);
                }
            }
        });
    }
    function callHamburgerEvents() {
        hamburgerClickEvents(pageBody, mobileBtn);
    }

    $(document).ready(callNavigationEvents);
    $(window).on('scroll resize', callNavigationEvents);

    $(document).ready(callHamburgerEvents);
</script>