/**********************************************************************
                    MAIN CSS STYLE FOR WEBSITE
***********************************************************************/
@font-face {
    font-family: 'Enter-The-Grid';
    src: url('../fonts/Enter-The-Grid.ttf')  format('truetype');
}

@font-face {
    font-family: 'TerminaDemi';
    src: url('../fonts/TERMINA-DEMI.OTF')  format('opentype');
}

@font-face {
    font-family: 'TerminaMedium';
    src: url('../fonts/Termina-Medium.otf')  format('opentype');
}

@font-face {
    font-family: 'TerminaLight';
    src: url('../fonts/Termina-Light.otf')  format('opentype');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
  	overflow-y: auto;
  	overflow-x: hidden;
	margin: 0;
    padding: 0;
    font-family: TerminaMedium;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TerminaDemi;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.1rem;
}

p {
    font-family: TerminaMedium;
    font-size: 1rem;
}

a {
    font-family: Enter-The-Grid;
    font-size: 1rem;
}

.upperCase {
    text-transform: uppercase;
}

/* IMPORTANT FOR ANGULAR!! */
.hide_index {
    display: none;
}

a, li, button, a span {
    -webkit-transition:all .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition:all .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition:all .35s cubic-bezier(.455,.03,.515,.955);
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

a:hover,a:focus,li:hover,li:focus {
    text-decoration:none;
}

small {
    position: relative;
    margin: 5px;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: normal;
    color: #27b6de;
    font-family: TerminaLight;
}

small .text-highlight {
    font-size: 57px;
    line-height: 60px;
    font-weight: normal;
    padding-left: 0;
}

small::before {
    content: '';
    position: absolute;
    width: 124px;
    bottom: -14px;
    border-bottom: 1px solid #e2e1e2;
}

.space {
    padding-top: 40px;
}

.content-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
}

.greenText {
    color: #009147;
}

/******************************************************************
                     INPUT FIELD STYLISH
******************************************************************/
textarea,
input {
    border: none;
    outline: none;
    border-radius: 0;
    text-align: center;
    background: none;
    font-weight: 700;
    font-family: TerminaMedium;
    font-size: 1rem;
    color: #009147;
    max-width: 45%;
    margin-left: 5px;
    padding: 0.15rem;
    border: 2px dashed rgba(255, 255, 255, 0);
    cursor: text;
}

textarea {
    overflow-y: auto;
    text-align: left;
    resize: none;
    width: 90%;
    max-width: 80%;
    max-height: 110px;
    border-color: rgba(255, 255, 255, 0);
}

textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px dashed rgba(0, 0, 0, 0.2);
}

textarea:focus:required:valid {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

textarea:required:valid {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

input {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
}

input:required,
textarea:required {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
}

input:focus {
    border-bottom: 2px dashed rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.2);
}

input:required:valid {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

input:required:invalid {
    color: rgba(230, 10, 10, 0.5);
}

::-webkit-input-placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
}

:-ms-input-placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
}
/******************************************************************
                    MAIN BUTTON STYLE
******************************************************************/
.defaultBtn {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 3rem;
    font-size: 0.8rem;
    letter-spacing: .15rem;
    text-decoration: none;
    text-align: center;
    outline: none;
    background-color: #000;
    padding: 0;
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

.defaultBtn:not(.disabled):not([disabled]):hover {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #009147;
}

.defaultBtn span {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    line-height: 3rem;
    color: rgb(255, 255, 255);
    transform: translateY(0);
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

.defaultBtn:not(.disabled):not([disabled]):hover span {
    letter-spacing: .35rem;
    transform: translateY(-100%);
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

.defaultBtn span.normal {
    top: 0;
}

.defaultBtn span.hover {
    top: 100%;
}

.defaultBtn:disabled,
.defaultBtn[disabled] {
    background-color: #cccccc;
}

.defaultBtn:disabled span,
.defaultBtn[disabled] span {
    color: #666666;
}
/******************************************************************
                    LOADING MAIN PAGE SPINNER CANVAS
******************************************************************/

#canvasLoader {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    margin-left: -43.5px;
    margin-top: -43.5px;
}

#canvasloader-container {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    overflow: hidden;
    background-color: #fafffe;
    visibility: hidden;
    -webkit-transition: height 0.5s ease-in-out , visibility 0s 1s;
    transition: height 0.5s ease-in-out, visibility 0s 1s;
}

#canvasloader-container #canvasLoader {
    visibility: hidden;
    -webkit-transition: visibility 0.3s;
    transition: visibility 0.3s;
    color: #c70a27;
}

#canvasloader-container.open {
    visibility: visible;
    height: 100%;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

#canvasloader-container.open #canvasLoader {
    visibility: visible;
}

/*********************************************************************
                           PC NAVIGATION
********************************************************************/

/* Layout */
.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 105;
}

.wrapper {
    display: grid;
}

.wrapper.cut {
    height: 30px;
}

.inner-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 8fr;
}

.transparent {
    background-color: transparent !important;
}

nav .wrapper.full,
nav .wrapper.cut .full {
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

nav .shadow {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    transition: all 0.5s ease-in-out;
}

nav .half {
    position: relative;
    z-index: 1;
    background: #fff;
    background: -webkit-linear-gradient(to bottom right, transparent 50%, rgba(0, 0, 0, 0.4) 1%, transparent 54%);
    background: -o-linear-gradient(to bottom right, transparent 50%, rgba(0, 0, 0, 0.4) 1%, transparent 54%);
    background: -moz-linear-gradient(to bottom right, transparent 50%, rgba(0, 0, 0, 0.4) 1%, transparent 54%);
    background: linear-gradient(to bottom right, transparent 50%, rgba(0, 0, 0, 0.4) 1%, transparent 54%);
}

nav .half::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 30px 62px 0 0;
    border-color: white transparent transparent transparent;
    transition: all 0.5s ease-in-out;
}

/* Logo */
.img {
    position: relative;
}

.img a {
    position: absolute;
    overflow: hidden;
    bottom: 5px;
    left: 10px;
    width: 262px;
    height: calc(100% * 2.5);
}

.img a img {
    max-width: 100%;
    height: calc(100% * 2);
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    transition: all 0.5s ease-in-out;
}

.img a img.whiteLogo {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

/* Nav-tabs */
nav ul {
    width: 100%;
}

nav ul > li > a {
    line-height: 1.5rem !important;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000;
    padding: 0.3rem 0.8rem !important;
    transition: all 0.5s ease-in-out;
}

nav ul > li > a:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #fefefe !important;
    background-color: #009147 !important;
}

nav ul li a span {
    color: #009147;
}

nav ul li a:hover span {
    color: #fefefe;
}
 
nav ul.nav li a:focus,
nav ul.nav li a:hover,
li.dropdown.open a:focus,
li.dropdown.open a:hover {
    background-color: transparent;
    border: 1px solid transparent;
    color: #000;
}

li.dropdown:hover > a {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

li.dropdown.open .dropdown-menu {
    display: none;
}

li.dropdown:hover .dropdown-menu {
    display: block;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0;
}

/* User icon */
.user {
    position: relative;
}

.userIcon {
    position: absolute;
    font-size: 3rem;
    color: #000;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.userIcon.whiteUser {
    color: #cbcbcb;
}

.userIcon:hover {
    cursor: pointer;
    color: #009147;
}

/* Transparency */
.transparent .wrapper.full,
.transparent .wrapper.cut .full {
    background-color: transparent !important;
    transition: all 0.5s ease-in-out;
}

.transparent .shadow {
    padding: 8px 0;
    transition: all 0.5s ease-in-out;
}

.transparent .half::before {
    border-color: transparent;
    transition: all 0.5s ease-in-out;
}

.transparent ul > li > a,
.transparent ul.nav li a:focus,
.transparent ul.nav li a:hover {
    color: #cbcbcb;
    transition: all 0.5s ease-in-out;
}

.transparent li.dropdown:hover > a {
    background-color: #fefefe;
    color: #000;
}

.transparent li.dropdown:hover .dropdown-menu li a {
    color: #000;
}

.black {
    color: rgb(0, 0, 0)!important;
}


/*********************************************************************
                           MOBILE NAVIGATION
********************************************************************/

#mobileVersion {
    display: none;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    transition: all .50s cubic-bezier(.455,.03,.515,.955);
}

/* Nav-tabs */
#mobileVersion div div.cols-xs-9 ul.dropdown-menu {
    position: absolute;
    width: 150px;
    top: 78px;
}

#mobileLinks div ul li a {
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    font-weight: 100;
    letter-spacing: 0.1175em;
}

/* Logo */
#mobileLogo {
    height: 80px;
}

#mobileLogo a {
    position: static;
    display: block;
    overflow: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 0;
}

#mobileLogo a img {
    position: static;
    max-height: 100%;
    width: auto;
    top: 0;
    transform: translateY(0);
}

/* Hamburger icon */
#mobileMenuBtn {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 30px;
    right: 50px;
}

#mobileMenuBtn span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#mobileMenuBtn span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobileMenuBtn span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobileMenuBtn span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobileMenuBtn.open span:nth-child(1) {
  -webkit-transform: rotate(43deg);
  -moz-transform: rotate(43deg);
  -o-transform: rotate(43deg);
  transform: rotate(43deg);
  top: -8px;
  left: 9px;
}

#mobileMenuBtn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#mobileMenuBtn.open span:nth-child(3) {
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  transform: rotate(-44deg);
  top: 20px;
  left: 9px;
}

/* Transparency */
#mobileVersion.transparent {
    background-color: transparent;
}

#mobileVersion.transparent div div.cols-xs-9 #mobileMenuBtn span {
    background: #cbcbcb;
}

#mobileVersion.transparent div div.cols-xs-9 ul.dropdown-menu li#mobileLinks div ul li a {
    padding: 4px!important;
    color: #cbcbcb;
}

#mobileVersion.transparent div div.cols-xs-9 ul.dropdown-menu {
    background-color: rgba(0,0,0,0.5);
}

/*********************************************************************
                           FOOTER
********************************************************************/
/* Layout */
footer .wrapper.full {  /* Temporary */
    color: #fff;
}

footer .wrapper.full, 
footer .wrapper.cut .full {
    background-color: #000;
}

footer .half {
    background: #000;
    background: -webkit-linear-gradient(to bottom right, transparent 49%, #000 50%);
    background: -o-linear-gradient(to bottom right, transparent 49%, #000 50%);
    background: -moz-linear-gradient(to bottom right, transparent 49%, #000 50%);
    background: linear-gradient(to bottom right, transparent 49%, #000 50%);
}

footer .full .inner-wrapper {
    position: relative;
    padding: 0 5px;
}

footer .full .inner-wrapper .splitColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    background: url('../../images/logo/map.png') no-repeat right center;
    background-size: contain;
}

/* Content */
footer .socNet {
    position: relative;
    padding-top: 30px;
}

footer .socNetWrapper {
    position: absolute;
    bottom: 0.5rem;
}

footer .socNetWrapper span {
    display: inline-block;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

footer .socNetWrapper span:nth-child(1):hover {
    background-color: #3a589e;
}

footer .socNetWrapper span:nth-child(2):hover {
    background-color: #429cd6;
}

footer .socNetWrapper span:nth-child(3):hover {
    background-color: #0d77b7;
}

/* google plus
footer .socNetWrapper span:nth-child(4):hover {
    background-color: #df4837;
}
*/

footer .socNetWrapper span i {
    font-size: 1.6rem;
    line-height: 2.3rem;
}

footer .socNetWrapper span i:hover {
    cursor: pointer;
}

footer .info h5 {
    margin-top: 0;
}

footer .info span {
    display: block;
    font-family: 'TerminaLight';
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

footer .policies {
    width: 100%;
    position: absolute;
    bottom: 2px;
    font-size: 0.6rem;
    color: #cbcbcb;
    padding: 0 5px;
}

footer .cookie span:hover {
    cursor: pointer;
    color: #009147;
}

footer .copyRights {
    float: right;
}

/*********************************************************************
                                LOGIN CANVAS
*********************************************************************/
#loginCanvas {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100000000000;
    overflow-x: hidden;
    width: 27rem;
    max-width: 100%;
    min-height: 40rem;
    top: 0;
    right: 0;
    padding: 1rem;
    border: 2px solid #009147;
    border-top: 0;
    border-right: 0;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    transition: all .50s cubic-bezier(.455,.03,.515,.955);
}

/* Row 1 - current tab, close button */
#row1 {
    line-height: 2.5rem;
}

#closeCanvasbtn {
    cursor: pointer;
    float: right;
    transition: all .50s cubic-bezier(.455,.03,.515,.955);
}

#closeCanvasbtn:hover {
    color: #009147;
    transition: all .50s cubic-bezier(.455,.03,.515,.955);
}

.label-close {
    opacity: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
    color: #009147;
    transition: all .50s cubic-bezier(.455,.03,.515,.955);
}

#closeCanvasbtn:hover .label-close {
    opacity: 1;
    transition: all .50s cubic-bezier(.455,.03,.515,.955);
}

#closeCanvasbtn i {
    display: inline-block;
    font-size: 2.5rem;
    vertical-align: middle;
}

/* Row 2 - navigation arrows and avatar img*/
#row2 {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 20px;
}

#row2 div {
    align-self: center;
    justify-self: center;
    font-size: 4rem;
}

#row2 div a {
    color: #009147;
}

#row2 div a:hover {
    cursor: pointer;
    color: #000;
}

.loggedInImg {
    width: 13rem;
}

/* Row 3 - input fields, error messages, forgot password and default buttons */
#row3 {
    margin-top: 20px;
}

.inputHolder {
    margin-bottom: 5px;
}

.formError p {
    font-size: 0.8rem;
    text-align: center;
  	line-height: 30px;
    margin-top: 10px;
    color: rgb(230, 10, 10);
  	background-color: rgb(240, 240, 240);
}

.forgotPasswordLink {
    font-size: 0.8rem;
    text-align: right;
    margin-top: 20px;
}

.forgotPasswordLink a {
    color: #009147;
}

.forgotPasswordLink a:hover {
    cursor: pointer;
    color: #000;
}

.btnHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    margin-top: 20px;
}

.welcomeMsg {
    text-align: center;
    margin-bottom: 20px;
}

/* Messages for successful registration and recovered password */
#msgCanvas {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100000000000;
    overflow-x: hidden;
    width: 47rem;
    max-width: 100%;
    min-height: 18rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 2px solid #009147;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    transition: all .50s cubic-bezier(.455,.03,.515,.955);
}

.msgWrapper {
    margin-top: 2rem;
    clear: both;
}

.msgWrapper h2 {
    font-size: 2.1rem;
}

.msgWrapper p {
    font-size: 1rem;
}

/* ???????????????????????????? OVO NE ZNAM STA JE */
#accountActivationPage {
    margin-top: 150px;
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
}

#passwordResetConfirmPage {
    height: 420px;
}

#passwordResetConfirmPage, #profilePage {
    margin-top: 140px;
    background-color: rgb(235, 235, 235);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -30px;
}

.dropFile,
.previewFile {
    display: block;
    max-width: 300px;
    border: none;
    text-align: center;
}

.dropFile {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    clear: both;
    height: 160px;
    margin-top: 80px;
    line-height: 160px;
    background-color: #333333;
    color: white;
}

.dropFile:hover {
    background-color: #585858;
}

.previewFile {
    height: auto;
    background-color: #333333;
    margin: 0 0 20px 0;
}
/* ???????????????????????????? OVO NE ZNAM STA JE ?????????????? */

/*********************************************************************
                                HOMEPAGE
********************************************************************/
.parallaxBackground {
    position: fixed;
    width: 100%;
    height: 100%;
}

#burglar {
    width: 50px;
    height: 100px;
    border-radius: 10px;
    background-color: black;
    position: fixed;
    bottom: -100px;
    right: -50px;
}

#textContainer0, #textContainer2, #textContainer3, #textContainer4 {
    background: rgba(0, 0, 0, .2);
    padding: 1em;
    width: 30%;
    min-width: 200px;
    left: 50%;
    top: 20%;
}

#textContainer1 {
    background: rgba(0, 0, 0, .2);
    padding: 1em;
    width: 30%;
    min-width: 200px;
    left: -20%;
    bottom: 20%;
}

#textContainer0 .textSlider0, #textContainer1 .textSlider1, #textSlider2 .textSlider2, #textSlider3 .textSlider3, #textSlider4 .textSlider4 {
    background: rgba(255, 255, 255, .4);
    text-align: center;
    font-size: 150%;
}

.hide_animation {
  display: none;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}

/*********************************************************************
                                ABOUT US PAGE
********************************************************************/
.slick-slider .item {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.slick-slider .item.first {
    background-image: url('../../images/slider/1.png');
	background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/1.png');
	background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/1.png');
	background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/1.png');
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/1.png');
}

.slick-slider .item.second {
    background-image: url('../../images/slider/2.png');
	background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/2.png');
	background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/2.png');
	background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/2.png');
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/2.png');
}

.slick-slider .item.third {
    background-image: url('../../images/slider/3.png');
	background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/3.png');
	background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/3.png');
	background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/3.png');
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/3.png');
}

.slick-slider .item.fourth {
    background-image: url('../../images/slider/4.png');
	background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/4.png');
	background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/4.png');
	background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/4.png');
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/4.png');
}

.slick-slider .item.fifth {
    background-image: url('../../images/slider/5.png');
	background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/5.png');
	background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/5.png');
	background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/5.png');
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/5.png');
}

.slick-slider .item.six {
    background-image: url('../../images/slider/6.png');
	background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/6.png');
	background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/6.png');
	background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/6.png');
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/slider/6.png');
}

.slick-slider .item .contain {
	position: relative;
	width: 100%;
    text-transform: uppercase;
	color: rgb(255, 255, 255);
}

.slick-slider .item .contain .sliderText {
    height: 150px;
    background-color: rgba(0,0,0,0.6);
    padding: 1.2em;
    position: relative;
	font-size: 1em;
}

.slick-slider .slick-dots {
	position: absolute;
	display: block;
	bottom: 45px;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.slick-slider .slick-dots li {
	display: inline-block;
    margin: 1px 5px;
}

.slick-slider .slick-dots li button {
    border-radius: 50%;
    margin: 3px;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}
.slick-slider .slick-dots li button:hover,
.slick-slider .slick-dots li button.active {
    background: none;
}
.slick-slider .slick-dots li button {
    margin: 3px;
    opacity: .5;
}

.slick-slider .slick-dots li button::before {
    content: '';
}

.slick-slider .slick-dots .slick-active button {
 	opacity: 1;
 	outline: none;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.whereToFind {
    background: rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
    height: 150px;
    position: relative;
    padding: 0.9em;
}

.googleMaps {
    position: relative;
    width: 100%;
    height: 600px;
}

/*********************************************************************
                                STATIC PAGES
********************************************************************/
#contactPage, #aboutPage {
    background-color: rgb(235, 235, 235);
}

.staticImg {
    background-image: url('../../images/slider/2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 56.3%;
}

.staticContainerHolder {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    left: 20px;
}

.holderElements {
    margin: 20px;
    text-align: center;
}

.holderElements h2 {
    text-transform: uppercase;
}

.back-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 4rem;
    color: #009147;
}

.back-btn:hover {
    cursor: pointer;
    color: #000;
}

.back-btn span {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

.back-btn:hover > span {
    visibility: visible;
    opacity: 1;
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

/* Contact page */
#contactPage .holderElements h5 {
    display: inline-block;
    margin: 0;
}

#contact-form, #forgotPassword-form {
    max-width: 90%;
    margin: 1rem auto 0;
}

#contact-form p label {
    font-weight: 400;
    cursor: pointer;
}

.expanding {
    vertical-align: top;
}

.send-icn {
    fill: rgba(0, 0, 0, 1);
}

.send-icn:hover {
    fill: #009147;
    cursor: pointer;
}

#contact-form p button {
    background: none;
    border: none;
    outline: none;
    margin: 2vmax;
}

#contact-form p button:hover small {
    opacity: 1;
    color: rgb(0, 0, 0);
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

#contact-form p small {
    display: block;
    opacity: 0;
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

/*******************************************************************
                    PREORDER AND RESULTS PAGE
********************************************************************/
/* Layout */
.listHolder {
    padding: 1rem;
}

.listHolder > div,
.listHolder > div > div,
#productListPage > div,
#resultsListPage > div,
#productListPage > div > div,
#resultsListPage > div > div {
    height: 100%;
}

#resultsListPage .switchColor {
    border: 2px solid #009147;
    transition: all .5s cubic-bezier(.455,.03,.515,.955);
}

#resultsListPage .switchColor:hover {
    padding: 0.5rem;
    transition: all .5s cubic-bezier(.455,.03,.515,.955);
}

#resultsListPage,
#productListPage {
    height: 100%;
    max-height: 600px;
    display: grid;
    grid-gap: 1rem 1rem;
}

#productListPage {
    grid-template: 1fr 1fr / 1fr 1fr;
}

#resultsListPage {
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

/* Items */
.containerItem {
    padding: 1rem;
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.itemHover {
    transition: all .5s cubic-bezier(.455,.03,.515,.955);
}

.itemHover h5 {
    align-self: center;
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem;
}

.itemHover p {
    align-self: center;
    background-color: rgba(255, 255, 255, .5);
    padding: 0.5rem;
}

.itemHover:hover {
    cursor: pointer;
    filter: saturate(50%);
    -webkit-filter: saturate(50%);
    transition: all .5s cubic-bezier(.455,.03,.515,.955);
}

#productListPage div div img {
    position: absolute;
}

.containerItem .defaultBtn {
    align-self: end;
}

.holderElements .defaultBtn {
    width: 14rem;
    margin-left: calc(50% - 7rem);
}

.absoluteBtn {
    position: absolute;
    bottom: 0;
    margin-left: -7rem!important;
}

.resultDetailContainer {
    width: 85%;
    margin-top: 4.5rem;
    margin-right: auto;
    margin-left: auto;
}

.resultDetailContainer div h6 {
    margin-top: 2rem;
}
 
.productDetailContainer {
    height: 40%;
    width: 85%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    margin: 2rem auto 0;
}

.productDetailContainer .col1 {
    text-align: left;
}

.productDetailContainer .col1 .fa {
    font-size: 2rem;
    margin-left: -1.5rem;
}

.productDetailContainer .col1 h4 {
    display: inline-block;
}

.productDetailContainer .col1 h6 {
    font-style: italic;
}

.productDetailContainer .col2 {
    text-align: right;
    align-self: end;
}

.productDetailContainer .col2 .stock {
    margin: 0;
}

.productDetailContainer .col2 .price {
    white-space: nowrap;
    margin-top: 2rem;
}

/* Navigationa buttons */
.arrowBtns {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 2rem;
    color: #009147;
    background-color: rgb(255, 255, 255);
    margin-top: -10px;
}

.arrowBtns:disabled,
.arrowBtns[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.productImg div {
    display: inline;
}

.productImg div img {
    height: 100px;
    max-width: 100%;
}

/*********************************************************************
                                CART PAGE
********************************************************************/
#cartListPage {
    overflow-y: auto;
    height: 90%;
    width: 100%;
    padding: 2rem;
}

#cartListPage > div {
    width: 100%;
    height: 45%;
    max-height: 300px;
    margin-bottom: 1rem;
}

#cartListPage .listItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 150px;
}

#cartListPage .listItem .imgHolder {
    display: grid;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 0.5rem;
}

#cartListPage .listItem .imgHolder img {
    height: 130px;
    width: 100%;
}

#cartListPage .listItem .productInfo {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 30% 30%;
    height: 100%;
    text-align: center;
}

#cartListPage .listItem .productInfo .toDown {
    padding-top: 3rem;
}

#cartListPage .listItem .productInfo .defaultBtn {
    align-self: center;
    justify-self: center;
    width: 90%;
    font-size: 0.74rem;
    height: 2rem;
}

#cartListPage .listItem .productInfo .defaultBtn span {
    line-height: 2rem;
}

.deleteOrder {
    margin-left: calc(50% - 20px);
    font-size: 2rem;
    color: #009147;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 40px;
    width: 40px;
    padding-left: 11px;
    padding-top: 1px;
    transition: all .5s cubic-bezier(.455,.03,.515,.955);
}

.deleteOrder:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(240, 240, 240);
    transition: all .5s cubic-bezier(.455,.03,.515,.955);
}

/*******************************************************************
          DISPLAY CANVAS WHEN USER IS NOT AUTHENTICATED
*******************************************************************/
.displayCanvas {
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    transition: all .35s cubic-bezier(.455,.03,.515,.955);
}

.displayCanvas .inputContainer {
    margin-left: -275px;
    height: 200px;
    left: 50%;
    width: 550px;
    position: absolute;
    z-index: 124141241241241;
    top: 205px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding-top: 15px;
    border: 2px solid rgb(0,0,0);
}

.displayCanvas .inputContainer .spanInfo {
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    top: 3.5rem;
    margin-left: 3.1rem;
    margin-right: 3.1rem;
}

.displayCanvas .inputContainer .closeLogin {
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
    position: absolute;
    right: 1.5rem;
    top: -0.01rem;
}

.displayCanvas .inputContainer .closeLogin:hover {
    color: rgb(120, 120, 120);
}

#parallaxHolder .car {
    height: auto;
}

#parallaxHolder .camLogo {
    width: 65px;
    height: 65px;
    position: fixed;
    z-index: 101;
}

#parallaxHolder .camLogo2 {
    width: 65px;
    height: 65px;
    position: fixed;
    z-index: 102;
}

#parallaxHolder .cameraSnap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 101;
}

#parallaxHolder .burglar {
    min-height: 160px;
    width: auto;
    height: 50%;
    position: fixed;
    z-index: 104;
}

#parallaxHolder .spotLight {
    z-index: 103;
    top: 48%;
    right: 25%;
    height: 52%;
    width: auto;
    position: fixed;
}
