<section id="resultsListPage">
    <div class="switchColor" ng-repeat="timeline in timelines">
        <div class="containerItem">
            <h5 ng-bind="timeline.title"></h5>
            <p ng-bind="timeline.description | limitTo: 15"></p>
            <button class="defaultBtn"
                    name="read more"
                    type="submit"
                    data-ui-sref="website.timeline_details({slug: timeline.slug})"
                    title="Read More!">
                <span class="normal">
                    Read More!
                </span>
                <span class="hover">
                    Read More!
                </span>
            </button>
        </div>
    </div>
</section>

