<section>
    <footer ng-controller="FooterCtrl">
        <div class="wrapper cut">
            <div class="transparent"></div>
            <div class="inner-wrapper">
                <div class="transparent"></div>
                <div class="half"></div>
                <div class="full"></div>
            </div>
            <div class="full"></div>
        </div>
        <div class="wrapper full">
            <div></div>
            <div class="inner-wrapper">
                <div></div>
                <div></div>
                <div class="splitColumns">
                    <div class="socNet">
                        <div class="socNetWrapper">
                            <span>
                                <i class="fa fa-facebook"
                                   aria-hidden="true"
                                   ng-click="openFB()"></i>
                            </span>
                            <span>
                                <i class="fa fa-twitter"
                                   aria-hidden="true"
                                   ng-click="openIN()"></i>
                            </span>
                            <!--span><i class="fa fa-google-plus" aria-hidden="true"></i></span-->
                            <span>
                                <i class="fa fa-linkedin"
                                   aria-hidden="true"
                                   ng-click="openLN()"></i>
                            </span>
                        </div>
                    </div>
                    <div class="info">
                        <h5>Contact</h5>
                        <span>Address: 71-75 Shelton Street, Covent Garden, London</span>
                        <span>Phone: +447872161994</span>
                        <span>Email: Casscamsecure@outlook.com</span>
                    </div>
                </div>
                <div class="policies">
                    <span class="cookie">
                        This website is using cookies, please read more about cookies in our
                        <span ui-sref="website.cookie_policy"> cookie policy</span> section.
                    </span>
                    <span class="copyRights">
                        &copy;2017 CassCam Security
                    </span>
                </div>
            </div>
            <div></div>
        </div>
    </footer>
</section>

<script type="text/javascript" charset="UTF-8">

</script>
