<section id="resultsDetailPage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements">
            <h2 ng-bind="timeline_resource.title"></h2>
            <a id="backBtn"
               class="back-btn fa fa-angle-double-left"
               onclick="goBack()"
               title="Back">
                <!--span class="terminaMedium">Back</span-->
            </a>
            <div class="resultDetailContainer">
                <div class="text-center">
                    <h6>Details</h6>
                    <p ng-bind="timeline_resource.description"></p>
                </div>
                <div class="text-center">
                    <h6>Performance Upgrades</h6>
                    <p ng-bind="timeline_resource.performance"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
        var staticHolder = $('#staticPageHolder'),
            staticImage = $('#staticPageImage'),
            staticElements = $('#staticPageElements'),
            pageW = $(window),
            footerCut = $('footer'),
            pageBottomMargin = footerCut[0].children[0].clientHeight;

        function setElements() {
            if(pageW.width() < 1020) {
                ParallaxEffectMobile(staticImage, pageW);
            } else {
                var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
                imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
                staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
            }
        }

        setElements();

        $(document).on('scroll', setElements);
        $(window).resize(setElements);
</script>