<section id="abstractTimelinePage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements">
            <h2 ng-bind="timeline_page_resource.title"></h2>
            <a id="backBtn"
               class="back-btn fa fa-angle-double-left"
               onclick="goBack()"
               title="Back">
                <!--span class="terminaMedium">Back</span-->
            </a>
            <div id="contentListContainer" class="listHolder">
                <div>
                    <!-- This is where list of results comes in 6 per page -->
                    <div class="page{{ page }}" data-ui-view></div>
                </div>
            </div>
            <button name="previous page"
                    class="btn btn-default fa fa-angle-double-left arrowBtns"
                    id="prev-page"
                    title="Previous Page"
                    data-ng-click="previousPage()"
                    data-ng-disabled="page == 1">
            </button>
            <button name="next page" class="btn btn-default fa fa-angle-double-right arrowBtns"
                    id="next-page"
                    title="Next Page"
                    data-ng-click="nextPage()"
                    data-ng-disabled="page == TOTAL_TIMELINE_PAGES">
            </button>
        </div>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
        var staticHolder = $('#staticPageHolder'),
            staticImage = $('#staticPageImage'),
            staticElements = $('#staticPageElements'),
            listContainer = $('#contentListContainer'),
            pageW = $(window),
            footerCut = $('footer'),
            pageBottomMargin = footerCut[0].children[0].clientHeight;

        function setElements() {
            if(pageW.width() < 1020) {
                ParallaxEffectMobile(staticImage, pageW);
                listContainer.css({
                    'min-height': 400 + 'px'
                });
            } else {
                var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
                imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
                staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
                setTimeout(function () {
                    listContainer.css({
                        'height': (((pageW.width() / imageRatio) / 1.5) - $('#staticPageElements h2').height() - 70) + 'px'
                    });
                });
                listContainer.css({
                    'min-height': 200 + 'px'
                });
            }
        }

        function mobileContainer() {
            if(pageW.width() < 767){
                 listContainer.css({
                    'height': 'auto'
                });
            }
        }

        setElements();

        mobileContainer();

        $(document).on('scroll', setElements);
        $(window).resize(setElements);
        $(document).on('scroll', mobileContainer);
        $(window).resize(mobileContainer);
</script>
