<section id="contactPage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements">
            <h2 ng-bind="contact_page_resource.title"></h2>
            <div id="hiddenTitle">
                <p ng-bind="contact_page_resource.description"> </p>
            </div>
            <h5 id="contactTitle" class="greenText"></h5>
            <a id="backBtn"
               class="back-btn fa fa-angle-double-left"
               onclick="goBack()"
               title="Back">
                <!--span class="terminaMedium">Back</span-->
            </a>
            <form id="contact-form">
                <p>Dear CassCam Security,</p>
                <p>
                    My
                    <label for="your-name">name</label> is
                    <input type="text"
                           name="your-name"
                           id="contact_your-name"
                           minlength="3"
                           ng-model="contact_us.name"
                           placeholder="(your name here)" required>
                    and
                </p>
                <p>
                    my
                    <label for="email">email address</label>
                    is
                    <input type="email"
                           name="your-email"
                           id="contact_email"
                           ng-model="contact_us.email"
                           placeholder="(your email address)" required>.
                </p>
                <p>
                    I have a
                    <label for="your-message">message</label>
                    for you.
                </p>
                <p>
                    <textarea name="your-message"
                              id="your-message"
                              placeholder="(your message here)"
                              ng-model="contact_us.content"
                              class="expanding" required></textarea>
                </p>
                <p>
                    <button type="submit" ng-click="submit()">
                        <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
                            <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
                            l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
                        </svg>
                        <small>send</small>
                    </button>
                </p>
            </form>
        </div>
    </div>
    <div id="msgCanvas" style="visibility: visible;opacity: 1;" ng-if="contact_sent">

        <div id="row1">
            <span id="closeCanvasbtn" ng-click="closeInformation()">
                <span class="label-close">Close</span>
                <i class="fa fa-close" aria-hidden="true"></i>
            </span>
        </div>

        <div class="msgWrapper">
            <h2>Success! <br>
                <span class="text-muted">Your message has been sent.</span>
            </h2>
            <br>
            <p>
                Thank you for contacting us, we will gladly answer to your message within a few days.
            </p>
        </div>  
    </div>
</section>
<script type="text/javascript" charset="UTF-8">
    setTimeout(function () {
        var typed = new Typed("#contactTitle", {
            stringsElement: '#hiddenTitle',
            typeSpeed: 100,
            loop: true,
            startDelay: 1000
        });
    }, 500);
</script>

<script type="text/javascript" charset="UTF-8">
        var staticHolder = $('#staticPageHolder'),
            staticImage = $('#staticPageImage'),
            staticElements = $('#staticPageElements'),
            pageW = $(window),
            footerCut = $('footer'),
            pageBottomMargin = footerCut[0].children[0].clientHeight;

        function setElements() {
            if(pageW.width() < 1020) {
                ParallaxEffectMobile(staticImage, pageW);
            } else {
                var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
                imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
                staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
            }
        }

        setElements();

        $(document).on('scroll', setElements);
        $(window).resize(setElements);
</script>

<script type="text/javascript" charset="UTF-8">
    $('#contact_your-name, #contact_email, #your-message')
        // event handler
        .keyup(resizeInput)
        // resize on page load
        .each(resizeInput);
</script>

<script type="text/javascript" charset="UTF-8">
    (function(){
        var textareas = document.querySelectorAll('.expanding'),
            resize = function(t) {
                t.style.height = 'auto';
                t.style.height = (t.scrollHeight + t.offset ) + 'px';
            },

            attachResize = function(t) {
                if ( t ) {
                    //console.log('t.className',t.className);
                    t.offset = !window.opera ? (t.offsetHeight - t.clientHeight) : (t.offsetHeight + parseInt(window.getComputedStyle(t, null).getPropertyValue('border-top-width')));

                    resize(t);

                    if ( t.addEventListener ) {
                        t.addEventListener('input', function() { resize(t); });
                        t.addEventListener('mouseup', function() { resize(t); }); // set height after user resize
                    }

                    t['attachEvent'] && t.attachEvent('onkeyup', function() { resize(t); });
                }
            };
        // IE7 support
        if ( !document.querySelectorAll ) {
            function getElementsByClass(searchClass,node,tag) {
                var classElements = new Array();
                node = node || document;
                tag = tag || '*';
                var els = node.getElementsByTagName(tag);
                var elsLen = els.length;
                var pattern = new RegExp("(^|\\s)"+searchClass+"(\\s|$)");
                for (i = 0, j = 0; i < elsLen; i++) {
                    if ( pattern.test(els[i].className) ) {
                        classElements[j] = els[i];
                        j++;
                    }
                }
                return classElements;
            }
            textareas = getElementsByClass('expanding');
        }
        for (var i = 0; i < textareas.length; i++ ) {
            attachResize(textareas[i]);
        }
    })();
</script>