{% load staticfiles %}
{% load i18n %}

<!-- bower components -->
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-touch/angular-touch.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-skrollr/dist/angular-skrollr.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
<!-- end of bower components -->

<!-- custom angular js -->
<script charset="utf-8" type="text/javascript" src="{% static 'js/__init__.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/angular/__init__.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/angular/routes.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/angular/services.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/angular/controllers.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/angular/directives.js' %}"></script>
<!-- end of custom angular js-->
<script charset="UTF-8" type="text/javascript" src="{% static 'bower_components/skrollr/dist/skrollr.min.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{% static "js/skrollr.ie.min.js" %}"></script>
<![endif]-->
<script async charset="UTF-8" type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script async charset="UTF-8" type="text/javascript" src="{% static 'js/typed.js' %}"></script>
<script async charset="UTF-8" type="text/javascript" src="{% static 'js/classie.min.js' %}"></script>
<script charset="UTF-8" type="text/javascript" src="{% static 'bower_components/slick-carousel/slick/slick.min.js' %}"></script>
<script charset="UTF-8" type="text/javascript" src="{% static 'bower_components/lightgallery/src/js/lightgallery.js' %}"></script>
<script charset="UTF-8" type="text/javascript" src="{% static 'bower_components/lg-pager/src/lg-pager.js' %}"></script>
<script charset="UTF-8" type="text/javascript" src="{% static 'bower_components/lg-thumbnail/src/lg-thumbnail.js' %}"></script>
<script charset="UTF-8" type="text/javascript" src="{% static 'bower_components/lg-zoom/src/lg-zoom.js' %}"></script>
<script charset="UTF-8" type="text/javascript" src="{% static 'bower_components/lg-hash/src/lg-hash.js' %}"></script>
