<!-- PARALLAX ANIMATION -->
<section id="parallaxAnimation" ng-controller="HomeContentCtrl">
    <img src="/static/images/parallax/background_img.jpg" class="img-responsive parallaxBackground">
    <div id="parallaxHolder" class="skrollr-body">
        <img sn-skrollr class="camLogo"
             src="/static/images/parallax/camLogo.png"
             data-0="visibility:hidden;"
             data-350="right:22%;bottom:25%;visibility:visible;"
             data-650="right:42%;bottom:55%;"
             data-1550="visibility:visible;"
             data-2000="right:22%;bottom:25%;visibility:hidden;">

        <div sn-skrollr class="cameraSnap"
             data-750="background-color: rgba(255,255,255,0);"
             data-900="background-color: rgba(255,255,255,0.6);"
             data-1150="background-color: rgba(255,255,255,0);"></div>

        <img class="car" sn-skrollr
             src="/static/images/parallax/car.png"
             data-200="width:23%;bottom:-39%;left:35.2%;"
             data-400="width:18%;bottom:0%;left:50.2%;"
             data-900="min-height:0;"
             data-1200="bottom:3.5%;left:43.668%;min-height:0;"
             data-2100="width:3%;bottom:21.5%;left:53%;visibility:visible;"
             data-2350="width:1%;visibility:hidden;left:54.2%;bottom:22%;"/>

        <img sn-skrollr class="burglar"
             src="/static/images/parallax/thief1.png"
             data-2000="left: -20%;bottom:-20%;height:54%;"
             data-4400="left: 61%; bottom: 1%;height: 32%;">

        <img sn-skrollr class="camLogo2"
             src="/static/images/parallax/camLogo.png"
             data-4450="visibility:hidden;"
             data-4750="right:22%;bottom:25%;visibility:visible;"
             data-5050="right:33%;bottom:48%;"
             data-6400="visibility:visible;">

        <img sn-skrollr class="spotLight"
             src="/static/images/parallax/red.png"
             data-6000="opacity: 0;"
             data-6800="opacity: 1;">

        <div sn-skrollr class="cameraSnap"
             data-5150="background-color: rgba(0,0,0,0);"
             data-6400="background-color: rgba(0,0,0,0.7);"></div>
	</div>
</section>
