{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html ng-app="app" lang="en">
    <head>
        <meta name="fragment" content="!">
        <meta name="viewport"
              content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        {% verbatim %}
        <meta name="description" content="Our product offers real time protection to vehicles, property and anything else that needs protecting. It is a fully wireless system and only consists of 4 small pinhole cameras and the system stated earlier." />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@casscamsecurity" />
        <meta name="twitter:title" content="CassCam Security - {{ title }}" />
        <meta name="twitter:description" content="{{ description }}" />
        <meta name="twitter:creator" content="@casscamsecurity" />
        <meta name="twitter:image" content="casscam-security.herokuapp.com{{ image }}" />
        <!-- Open Graph data -->
        <meta property="fb:app_id" content="1389676864376188" />
        <meta property="og:title" content="CassCam Security - {{ title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="CassCam.com{{ location }}" />
        <meta property="og:image" content="CassCam.com{{ image }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:site_name" content="CassCam Security" />
        <title data-ng-bind="title"></title>
        {% endverbatim %}

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/favicon-57.png' %}">
        <link rel="apple-touch-icon" sizes="64x64" href="{% static 'images/favicon/favicon-64.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/favicon-72.png' %}">
        <link rel="apple-touch-icon" sizes="24x24" href="{% static 'images/favicon/favicon-24.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/favicon-114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/favicon-120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/favicon-144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/favicon-152.png' %}">
        <link rel="apple-touch-icon" sizes="512x512" href="{% static 'images/favicon/favicon-512.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32.png' %}">
        <link rel="icon" type="image/png" sizes="48x48" href="{% static 'images/favicon/favicon-48.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16.png' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon/favicon-64.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'images/favicon/favicon-64.ico' %}" type="image/x-icon">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link href="{% static 'style/fonts/Termina-Medium.otf' %}" rel='stylesheet' type='text/css'>
        <link href="{% static 'style/fonts/fontawesome-webfont.ttf' %}" rel='stylesheet' type='text/css'>

        <!-- Bootstrap -->
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'style/css/bootstrap.min.css' %}">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'style/css/carousel.min.css' %}">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'style/css/font-awesome.min.css' %}">

        <!-- Slick
        =============================================-->
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'bower_components/slick-carousel/slick/slick.css' %}">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'bower_components/slick-carousel/slick/slick-theme.css' %}">

        <!-- Lightgalery
        ==============================================-->
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'bower_components/lightgallery/src/css/lightgallery.css' %}">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'bower_components/lightgallery/src/css/lg-transitions.css' %}">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'bower_components/lightgallery/src/css/lg-fb-comment-box.css' %}">

        <!-- Stylesheet
        ================================================== -->
        <link rel="stylesheet" charset="UTF-8" type="text/css"  href="{% static 'style/css/website_style.css' %}">
        <link rel="stylesheet" charset="UTF-8" type="text/css" href="{% static 'style/css/responsive.css' %}">

        <!-- JQuery -->
        <script charset="UTF-8" type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <script async ng-if="home" charset="UTF-8" type="text/javascript" src="{% static 'js/heartcode-canvasloader-min-0.9.1.js' %}"></script>
   </head>

    <body ng-controller="SeoCtrl">
        <script charset="utf-8" type="text/javascript">window.twttr = (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0],t = window.twttr || {};if (d.getElementById(id)) return t;js = d.createElement(s);js.id = id;js.src = "https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js, fjs);t._e = [];t.ready = function(f) {t._e.push(f);};return t;}(document, "script", "twitter-wjs"));</script>

        <div id="fb-root"></div>
        <script charset="utf-8" type="text/javascript">window.fbAsyncInit = function() {FB.init({appId: '1389676864376188', cookie: true, xfbml: true, version: 'v2.3'});};(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
        <div ng-controller="HomeAbstractCtrl">
            <div class="nav-bar"
                 ng-include="'/static/templates/nav/nav.html'">
            </div>
            <div ng-class="{hide_animation: !home}">
                {% include "index.html" %}
            </div>
            <div ng-if="!home">
                <div id="top">
                    <main>
                        <div data-ui-view></div>
                    </main>
                </div>
            </div>
            <div class="footer-nav" ng-class="{hide_animation: home}"
                 ng-include="'/static/templates/nav/footernav.html'">
            </div>
        </div>
        <div id="canvasloader-container" class="ajaxloader open"></div>
        {% include "include_js.html" %}
        {{ static }}
    </body>
</html>
