<section id="productListPage">
    <div ng-repeat="product in products">
        <div class="containerItem itemHover"
             ng-style="{'background-image': 'url({{ product.images[0].image }})'}"
             data-ui-sref="website.product_details({slug: product.slug})">
            <h5 ng-bind="product.name"></h5>
            <p ng-bind="product.description | limitTo: 25"></p>
            <p class="outOfStock" ng-show="product.out_of_stock">Out of stock.</p>
        </div>
    </div>
</section>
