<section id="shoppingCartPage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements">
            <h2 ng-bind="cart_page_resources.title"></h2>
            <a id="backBtn"
               class="back-btn fa fa-angle-double-left"
               onclick="goBack()"
               title="Back">
                <!--span class="terminaMedium">Back</span-->
            </a>
            <div id="cartListPage" ng-if="canUseCart">
                <div ng-repeat="order in my_cart.items">
                    <div class="listItem">
                        <div class="imgHolder">
                            <img src="{{ order.product.images[0].image }}" alt="product1">
                        </div>
                        <div class="productInfo">
                            <div>
                                <h6>Product name:</h6>
                                <span ng-bind="order.product.name"></span>
                            </div>
                            <div>
                                <h6>Price:</h6>
                                <span ng-bind="order.product.price"></span>
                                <span class="currency">$</span>
                            </div>
                            <div>
                                <h6>Total:</h6>
                                <span ng-bind="order.totalPrice"></span>
                                <span class="currency">$</span>
                            </div>
                            <div>
                                <h6>Description:</h6>
                                <span>{{ order.product.description | limitTo: 20 }}</span>
                            </div>
                            <form id="productQuantity">
                                <h6>Quantity:</h6>
                                <input type="number"
                                       name="quantity"
                                       min="1"
                                       ng-model="order.quantity"
                                       ng-change="changeTotalPrice(order)"
                                       placeholder="1">
                            </form>
                            <a name="delete order"
                               class="btn btn-default deleteOrder"
                               id="delete-order"
                               ng-click="deleteOrder(order, $index)"
                               title="Remove From Cart!">
                                &times;
                            </a>
                        </div>
                    </div>
                </div>
                <form class="full" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <div class="hide">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="upload" value="1">
                        <input type="hidden" name="business" value="ccmaxcassidy@gmail.com">
                        <input type="hidden" name="no_shipping" value="2">
                        <input type="hidden" name="currency_code" value="GBP">
                        <input type="hidden" name="return" value="http://CassCam.com/">
                        <input type="hidden" name="custom" value="{{ sessionKey }}">
                        <div ng-repeat="order in my_cart.items">
                            <input type="hidden" name="item_number_{{ $index + 1 }}" value="{{ order.product.id }}">
                            <input type="hidden" name="item_name_{{ $index + 1 }}" value="{{ order.product.name }}">
                            <input type="hidden" name="amount_{{ $index + 1 }}" value="{{ order.product.price }}">
                            <input type="hidden" name="quantity_{{ $index + 1 }}" value="{{ order.quantity }}">
                        </div>
                    </div>
                    <button class="defaultBtn absoluteBtn"
                            name="confirm shopping"
                            type="submit"
                            title="Confirm your order!"
                            ng-click="deleteCartItems()"
                            style="margin-left: -16rem!important;"
                            value="">
                        <span class="normal">
                            Buy
                        </span>
                        <span class="hover">
                            Buy
                        </span>
                    </button>
                </form>
                <button class="defaultBtn absoluteBtn"
                        style="margin-left: 3rem!important;"
                        title="Refresh Cart"
                        ng-click="reloadCart()">
                    <span class="normal">
                        Refresh Cart
                    </span>
                    <span class="hover">
                        Refresh Cart
                    </span>
                </button>
            </div>
            <div id="cartListPage" ng-if="!canUseCart">

            </div>
        </div>
    </div>
    <div id="showAuthMSG" class="displayCanvas">
        <div class="inputContainer">
            <a href="javascript:void(0)"
               class="closeLogin"
               title="Close"
               ng-click="closeCanvas()">&times;</a>
            <h4 class="spanInfo">
                Only registered users are allowed to buy. <br>
                <br>
                Please login and try again.
            </h4>
        </div>
    </div>
</section>
<script type="text/javascript" charset="UTF-8">
    var staticHolder = $('#staticPageHolder'),
        staticImage = $('#staticPageImage'),
        staticElements = $('#staticPageElements'),
        pageW = $(window),
        footerCut = $('footer'),
        pageBottomMargin = footerCut[0].children[0].clientHeight;

    function setElements() {
        if(pageW.width() < 1020) {
            ParallaxEffectMobile(staticImage, pageW);
        } else {
            var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
            imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
            staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
        }
    }

    setElements();
    $(document).on('scroll', setElements);
    $(window).resize(setElements);
</script>
