<section id="contactPage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements">
            <h2>Please wait...</h2>
            <h5 id="contactTitle" class="greenText"> We are authenticating your account.</h5>
            <br>
            <br>
            <p>
                If this page gets stuck please refresh it or try clicking again on link from email.
            </p>
            <p>
                If page is stuck even then try getting new reset password email.
            </p>
            <br>
            <div class="formError" ng-repeat="error in errors.uid">
                <p ng-bind="error"></p>
            </div>
            <div class="formError" ng-repeat="error in errors.non_field_errors">
                <p ng-bind="error"></p>
            </div>
        </div>
    </div>
    <div id="msgCanvas" style="visibility: visible;opacity: 1;" ng-if="activation_complete">

        <div id="row1">
            <span id="closeCanvasbtn" ng-click="closeInformation()">
                <span class="label-close">Close</span>
                <i class="fa fa-close" aria-hidden="true"></i>
            </span>
        </div>

        <div class="msgWrapper">
            <h2>Thank you for waiting! <br>
                <span class="text-muted">Your account has been activated.</span>
            </h2>
            <br>
            <p>
                You can now start using your account on CassCam website.
            </p>
        </div>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
        var staticHolder = $('#staticPageHolder'),
            staticImage = $('#staticPageImage'),
            staticElements = $('#staticPageElements'),
            pageW = $(window),
            footerCut = $('footer'),
            pageBottomMargin = footerCut[0].children[0].clientHeight,
            containerHeight = staticHolder.height() + 100;

        function setElements() {
            var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
            imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
            if(pageW.width() < 1020) {
                ParallaxEffectMobile(staticImage, pageW);
                $('.holderElements').attr('style', 'height: ' + containerHeight + 'px!important');
            } else {
                staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
            }
        }

        setElements();

        $(document).on('scroll', setElements);
        $(window).resize(setElements);
</script>