<section id="contactPage">
    <div id="staticPageImage" class="img-responsive staticImg"></div>
    <div id="staticPageHolder" class="staticContainerHolder">
        <div id="staticPageElements" class="holderElements">
            <h2>Please type in your new password</h2>
            <h5 id="contactTitle" class="greenText"> and confirm it.</h5>
            <form id="forgotPassword-form">
                <p>
                    My new
                    <label for="your-new-password">password</label> is
                    <input type="password"
                           name="new-password"
                           id="your-new-password"
                           minlength="3"
                           ng-model="req.password"
                           placeholder="(your new password)" required>
                     and
                </p>
                <div class="formError" ng-repeat="error in errors.new_password">
                    <p ng-bind="error"></p>
                </div>
                <p>
                    re-type your new
                    <label for="repeat-new-password">password</label> here
                    <input type="password"
                           name="repeat-new-password"
                           id="repeat-new-password"
                           minlength="3"
                           ng-model="req.re_password"
                           placeholder="(retype new password)" required>.
                </p>
                <div class="formError" ng-repeat="error in errors.re_password">
                    <p ng-bind="error"></p>
                </div>
                <div class="formError" ng-repeat="error in errors.non_field_errors">
                    <p ng-bind="error"></p>
                </div>
                <div class="formError" ng-if="missmatchPassword">
                    <p ng-bind="missmatchErrors"></p>
                </div>
                <p>
                    <label> Confirm </label>
                    your changed password.
                </p>
                <button class="defaultBtn"
                    type="submit"
                    title="Confirm New Password"
                    ng-click="confirmReset()">
                    <span class="normal">
                        Confirm
                    </span>
                    <span class="hover">
                        Confirm
                    </span>
                </button>
            </form>
        </div>
    </div>
    <div id="msgCanvas" style="visibility: visible;opacity: 1;" ng-if="reset_complete">

        <div id="row1">
            <span id="closeCanvasbtn" ng-click="closeInformation()">
                <span class="label-close">Close</span>
                <i class="fa fa-close" aria-hidden="true"></i>
            </span>
        </div>

        <div class="msgWrapper">
            <h2>Your password <br>
                <span class="text-muted">has been changed!</span>
            </h2>
            <br>
            <p>
                Thank you for contacting us, we will gladly answer to your message within a few days.
            </p>
        </div>
    </div>
</section>

<script type="text/javascript" charset="UTF-8">
        var staticHolder = $('#staticPageHolder'),
            staticImage = $('#staticPageImage'),
            staticElements = $('#staticPageElements'),
            pageW = $(window),
            footerCut = $('footer'),
            pageBottomMargin = footerCut[0].children[0].clientHeight,
            resetPWBtn = $('.confirmRetypedPassword'),
            containerHeight = staticHolder.height() + 100;

        function setElements() {
            var imageRatio = ($(window).width() / $(window).height()) < 1.775 ? 1.55 : 1.75;
            imageRatio === 1.55 ? staticImage.css({'padding-top': '66.3%'}) : staticImage.css({'padding-top': '56.3%'});
            if(pageW.width() < 1020) {
                ParallaxEffectMobile(staticImage, pageW);
                $('.holderElements').attr('style', 'height: ' + containerHeight + 'px!important');
            } else {
                staticPageStylish(staticHolder, pageBottomMargin, staticElements, pageW, imageRatio);
            }
        }

        setElements();

        $('#repeat-new-password, #your-new-password')
            // event handler
            .keyup(resizeInput)
            // resize on page load
            .each(resizeInput);

        resetPWBtn.css({
            'margin-left': -90 + 'px'
        });

        $(document).on('scroll', setElements);
        $(window).resize(setElements);
</script>
